<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="14x14" href="assets/images/favicon.png">
    <title>Leave Portal</title>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border" style="background-color: #DFEDE2;">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div id="main-wrapper">
    {{> header }}

    <div class="page-wrapper">
        <div class="container-fluid">
            {{> navbar }}
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="card">
                        <div style="min-height: 500px; max-height: 500px;">
                            <img class="card-img-top" src="assets/images/background/profile-bg.png"
                                 alt="Card image cap">
                            <div class="card-block little-profile text-center">
                                <div class="pro-img"><img src="assets/images/users/4.jpg" alt="user"/></div>
                                <h3 class="m-b-0">{{fullName}}</h3>
                                <p></p>
                                <a href="mailto:{{sanitizedUserData.email}}">{{sanitizedUserData.email}}</a>
                                <br> <br>
                                <p>Employee Status: <b>{{sanitizedUserData.employmentStatus}}</b></p>
                                <p>Joining Date: <b>April 1st 2024</b></p>
                                <a href="javascript:void(0)"
                                   class="active-btn m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
                                   id="intime">Time in</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Notifications</h3>
                            <div id='notification-dropdown-container'>
                                <ul id='notification-dropdown-ul'>
                                    <a class='notification-dropdown-item-href' href='#'>
                                        <li class='notification-dropdown-item first'>
                                            <div class='notification-dropdown-item-container'>
                                                <img class='notification-dropdown-item-image'
                                                     src='assets/images/avatar-1.jpg'/>
                                                <div class='notification-dropdown-item-text-container'>
                                                    <p class='notification-dropdown-item-text'>
                                                        <b>Kashif khan -</b> approved your Leave.
                                                    </p>
                                                    <p class='notification-dropdown-item-date'>April 1, 2024</p>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a class='notification-dropdown-item-href' href='#'>
                                        <li class='notification-dropdown-item'>
                                            <div class='notification-dropdown-item-container'>
                                                <img class='notification-dropdown-item-image'
                                                     src='assets/images/avatar-5.jpg'/>
                                                <div class='notification-dropdown-item-text-container'>
                                                    <p class='notification-dropdown-item-text'>
                                                        <b>Aleem Ashraf -</b> approved your request.
                                                    </p>
                                                    <p class='notification-dropdown-item-date'>April 1, 2024</p>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a class='notification-dropdown-item-href' href='#'>
                                        <li class='notification-dropdown-item'>
                                            <div class='notification-dropdown-item-container'>
                                                <img class='notification-dropdown-item-image'
                                                     src='assets/images/avatar-3.jpg'/>
                                                <div class='notification-dropdown-item-text-container'>
                                                    <p class='notification-dropdown-item-text'>
                                                        <b>Ali Ashraf -</b> commented on your post.
                                                    </p>
                                                    <p class='notification-dropdown-item-date'>April 1, 2024</p>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a class='notification-dropdown-item-href' href='#'>
                                        <li class='notification-dropdown-item'>
                                            <div class='notification-dropdown-item-container'>
                                                <img class='notification-dropdown-item-image'
                                                     src='assets/images/avatar-4.jpg'/>
                                                <div class='notification-dropdown-item-text-container'>
                                                    <p class='notification-dropdown-item-text'>
                                                        <b>CEO -</b> viewed your request.
                                                    </p>
                                                    <p class='notification-dropdown-item-date'>April 1, 2024</p>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a class='notification-dropdown-item-href' href='#'>
                                        <li class='notification-dropdown-item'>
                                            <div class='notification-dropdown-item-container'>
                                                <img class='notification-dropdown-item-image'
                                                     src='assets/images/avatar-2.jpg'/>
                                                <div class='notification-dropdown-item-text-container'>
                                                    <p class='notification-dropdown-item-text'>
                                                        <b>CEO -</b> approved your request.
                                                    </p>
                                                    <p class='notification-dropdown-item-date'>April 1, 2024</p>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                            <form action="">
                                        <textarea class="form-control" placeholder="Add announcements"
                                                  id="floatingTextarea" style="height: 45px" required></textarea>
                                <button type="submit" class="active-btn btn btn-info">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="card">
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home"
                                                    role="tab">Leave Balance</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile"
                                                    role="tab">Calendar</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings"
                                                    role="tab">Chart</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="card-block">
                                    <div class="table-responsive" style="max-height: 400px; min-height: 400px;">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Total</th>
                                                <th>Approve</th>
                                                <th>Pending</th>
                                                <th>Resubmit</th>
                                                <th>Balance</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><a href="/createleave">Sick</a></td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/createleave">Emergency</a></td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/createleave">Casual</a></td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/createleave">Birthday</a></td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/createleave">CPL</a></td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/createleave">LWOP</a></td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>12</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--second tab-->
                            <div class="tab-pane" id="profile" role="tabpanel">
                                <div class="card-block"
                                     style="display: flex; justify-content: center;padding: 0px;">
                                    <div id="calendar-container" class="calendar-container">
                                        <div class="calendar-month-arrow-container">
                                            <div class="calendar-month-year-container">
                                                <select class="calendar-years"></select>
                                                <select class="calendar-months">
                                                </select>
                                            </div>
                                            <div class="calendar-month-year">
                                            </div>
                                            <div class="calendar-arrow-container">
                                                <button class="calendar-today-button"></button>
                                                <button class="calendar-left-arrow">
                                                    ←
                                                </button>
                                                <button class="calendar-right-arrow"> →</button>
                                            </div>
                                        </div>
                                        <ul class="calendar-week">
                                        </ul>
                                        <ul class="calendar-days">
                                        </ul>
                                    </div>
                                    <div class="card-block text-center ">
                                        <ul class="legends">
                                            <li>
                                                <h6 class="text-muted" style="color: #2176ff !important;"><i
                                                        class="fa fa-circle font-10 m-r-10 "></i>Present</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #fdca40 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Late</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #129864 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Early</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #3cba9f !important;"><i
                                                        class="fa fa-circle font-10 m-r-10 "></i>Half Day</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #ff0000 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Absent</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #f79824 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Short Day</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #565452 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Absent Short
                                                    Time</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #e3e87b !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Leave</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #5d7d87 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10 "></i>Sch Days</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #a83885 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>Missing</h6>
                                            </li>
                                            <li>
                                                <h6 class="text-muted" style="color: #202527 !important;"><i
                                                        class="fa fa-circle font-10 m-r-10"></i>OFF</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--third tab-->
                            <div class="tab-pane" id="settings" role="tabpanel">
                                <div class="card-block">
                                    <div id="visitor"
                                         style="height: 290px;width: 100%;max-height: 290px;position: relative;display: flex;align-items: center;">
                                    </div>
                                </div>
                                <div>
                                    <hr class="m-t-0 m-b-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-7">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <h3 class="card-title">Leave Application</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Text to display dynamically -->
                                                    <p id="modalText"></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="text-primary">Application Data</th>
                                                <th class="text-primary">Leave Type</th>
                                                <th class="text-primary">From</th>
                                                <th class="text-primary">To</th>
                                                <th class="text-primary">Total Days</th>
                                                <th class="text-primary">LM Status</th>
                                                <th class="text-primary">Violation</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-warning">Pending</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td class="text-danger">Yes</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td class="text-danger">Yes</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-primary">28-Dec-2023</td>
                                                <td>Annual</td>
                                                <td>29-Dec-2023</td>
                                                <td>03-Jan-2023</td>
                                                <td>06</td>
                                                <td class="text-succes">Approve</td>
                                                <td>No</td>
                                                <td>
                                                    <button class="btn btn-link eye-button" data-toggle="modal"
                                                            data-target="#exampleModal" data-text="Your text here"><i
                                                            class="fa-solid fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const intime = document.getElementById('intime');
    intime.addEventListener('click', () => {
        intime.innerText = "Out Time";
        intime.style.backgroundColor = "red !important";
    })
</script>
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/waves.js"></script>
<script src="js/sidebarmenu.js"></script>
<script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<script src="assets/plugins/d3/d3.min.js"></script>
<script src="assets/plugins/c3-master/c3.min.js"></script>
<script src="js/calender.js"></script>
<script src="js/dashboard1.js"></script>
</body>

</html>